<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WCJAddressBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7818524C1D0D393B0096B5D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>781852651D0D393C0096B5D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>781852701D0D393C0096B5D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
